@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;1,400&family=Rubik+Glitch&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  color: white;
  box-sizing: border-box;
}

body {
  background-color: #251a3a;
}

header {
  width: 800px;
  height: 500px;
}

h4 {
  font-weight: normal;
}

b:hover {
  text-decoration: underline;
}

.logo-gggirls {
  background: url('./assets/logo-gggirls.png') no-repeat;
}

/*LOGIN */

.mainContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 22px;
  margin-bottom: 50px;
}

.mainContainer img {
  height: 150px;
  width: 150px;
}

.mainContainer h1 {
  font-size: 45px;
}

.mainContainer p {
  margin: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: white;
  text-shadow: 0.5px 0.5px 3px rgba(177, 88, 155, 0.8);
}

.mainContainer input {
  border: solid 1px #b1589b;
  font-size: 15px;
  background: #5f5277;
  border-radius: 10px;
  width: 65%;
  height: 50px;
  text-align: center;
}

.transparent-input {
  background: transparent !important;
  border: none !important;
  width: 100% !important;
}

#passwordContainer {
  display: flex;
  border: solid 1px #b1589b;
  font-size: 15px;
  background: #5f5277;
  border-radius: 10px;
  width: 80%;
  height: 50px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

#emailContainer {
  display: flex;
  border: solid 1px #b1589b;
  font-size: 15px;
  background: #5f5277;
  border-radius: 10px;
  width: 80%;
  height: 50px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

input[type='checkbox'] {
  width: 15px;
  height: 15px;
  border: none;
  margin-right: 10px;
  position: absolute;
  align-self: flex-end;
  appearance: none;
}

::placeholder {
  color: white;
}

.mainContainer button {
  background: #656fcb;
  border: 0;
  border-radius: 10px;
  padding: 15px;
}

.mainContainer button:hover {
  background-color: #6980c7;
}

.registerContainer {
  background: #411946;
  border-radius: 5px;
  border: 1px solid #a85495;
  box-shadow: 0px 0px 5px 1px rgb(168 84 149 / 45%);
  padding: 5px;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerContainer p {
  background: #411946;
  font-size: 15px;
  opacity: 50%;
}

form i {
  margin-left: -30px;
  cursor: pointer;
}

#linkRegister {
  color: white;
  opacity: 100%;
}

a {
  text-decoration: none;
  padding-bottom: 15px;
}

dialog {
  width: 60%;
  height: fit-content;
  margin: auto;
  border-radius: 10px;
  background: #251a3a;
  border: 1px solid #a85495;
  box-shadow: 0px 0px 5px 1px rgb(168 84 149 / 45%);
  padding: 5px;
}

::backdrop, /* for native <dialog> */
dialog + .backdrop {
  /* for dialog-polyfill */
  /* a transparent shade of gray */
  background-color: rgba(0, 0, 0, 0.3);
}

#mainDivDialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

#mainDivDialog p {
  margin: 10px;
}

#botonClosePopUp {
  width: 10%;
  align-self: flex-end;
  background-color: transparent;
  border: none;
}

#titulo {
  margin: 0px;
}

button#botoncito {
  margin: 10px 0px 30px;
}

/* Show and Hide Password*/
.ojitocerrado {
  background-image: url(./assets/ojitosabiertos-blanco.png) !important;
  display: inline-block;
  background-size: contain !important;
}

.ojitoabierto {
  background-image: url(./assets/ojitoscerrados-blanco.png) !important;
  display: inline-block;
  background-size: contain !important;
}

.inputMainContainer {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 20px;
}

.inputMainContainer input {
  width: 70%;
}

/* POSTS */

#navbarContainer {
  position: sticky;
  top: 0;
  margin-bottom: 30px;
  width: 100%;
  height: 70px;
  background-color: #411946;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#buttonLogOut {
  margin-right: 20px;
  height: 40px;
  background-color: #b1589b;
}
.logogg {
  height: inherit;
  padding: 10px;
  margin-left: 20px;
}
.postsContainer {
  width: 95%;
  margin: auto;
  height: 100%;
  background-color: #251a3b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  align-items: center;
}
.userDataContainer {
  height: 900px;
  width: 25%;
  margin-left: 0px;
  display: none;
  flex-direction: column;
  gap: 30px;
}
#userDataDiv {
  height: 300px;
  width: 100%;
  margin-left: 0px;
}
#trendingDataDiv {
  height: 600px;
  width: 100%;
  margin-left: 0px;
}
.divPosts {
  height: 900px;
  width: 90%;
  margin-left: 0px;
  background-color: #411946;
  border: solid 1px #b1589b;
  box-shadow: 0px 0px 5px 1px rgb(168 84 149 / 45%);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* .insidePost {
  background-color: #411946;
  border: solid 1px #b1589b;
  box-shadow: 0px 0px 5px 1px rgb(168 84 149 / 45%);
  padding: 20px;
  border-radius: 10px;
} */

.postsContainer button {
  background: #656fcb;
  border: 0;
  border-radius: 10px;
  padding: 15px;
}

.postsContainer input {
  border: solid 1px #b1589b;
  font-size: 15px;
  background: #5f5277;
  border-radius: 10px;
  width: 65%;
  height: 50px;
  text-align: center;
}

.postsContainer button:hover {
  background-color: #6980c7;
}

/* RESPONSIVE PANTALLAS GRANDES */
@media only screen and (min-width: 990px) {
  body {
    background-image: url(https://giffiles.alphacoders.com/214/214388.gif);
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: opacity(20%);
  }
  #mainRoute {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }
  /* Pantalla de Login y Register */
  .mainContainer {
    background: #251a3b;
    border: 2px solid #b1589b;
    box-shadow: 0px 0px 8px 1px #b1589b;
    border-radius: 8px;
    height: 85%;
    width: 40%;
    align-self: flex-end;
    margin-top: 50px;
    margin-right: 50px;
  }
  /* Todo lo de Posts */ 
   #navbarContainer {
    position: sticky;
    top: 0;
    margin-bottom: 30px;
    width: 100%;
    height: 70px;
    background-color: #411946;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #buttonLogOut {
    margin-right: 20px;
    height: 40px;
    background-color: #b1589b;
  }
  .logogg {
    height: inherit;
    padding: 10px;
    margin-left: 20px;
  }
  .postsContainer {
    width: 95%;
    margin: auto;
    height: 100%;
    background-color: #251a3b;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
  }
  .userDataContainer {
    height: 900px;
    width: 25%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #userDataDiv {
    height: 300px;
    width: 100%;
    margin-left: 0px;
  }
  #trendingDataDiv {
    height: 600px;
    width: 100%;
    margin-left: 0px;
  }
  .divPosts {
    height: 900px;
    width: 70%;
    margin-left: 0px;
    text-align: center;
  }
  /* Habian dos clases para el mismo div */
  .insidePost { 
    background-color: #411946;
    border: solid 1px #b1589b;
    box-shadow: 0px 0px 5px 1px rgb(168 84 149 / 45%);
    padding: 20px;
    border-radius: 10px;
  }

  footer {
    /*position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    bottom: 0;
    padding: 10px;
    background-color: #251a3b;
    position: fixed;
  }
}

/*FOOTER*/
footer {
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 0;
  text-align: center;
}
