@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;1,400&family=Rubik+Glitch&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Jost', sans-serif;
  color: white;
  box-sizing: border-box;
}

body {
  background-color: #251a3a;
}

header {
  width: 800px;
  height: 500px;
}

h4 {
  font-weight: normal;
}

b:hover {
  text-decoration: underline;
}

.logo-gggirls {
  background: url('./assets/logo-gggirls.png') no-repeat;
}

/*LOGIN */

.mainContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

.mainContainer img {
  height: 100px;
  width: 100px;
}

.mainContainer h1 {
  font-size: 35px;

}

.mainContainer p {
  font-size: 15px;
  color: white;
  text-shadow: 0.5px 0.5px 3px rgba(177, 88, 155, 0.8);
}

#slogan{
  display: none;
}

 /* .mainContainer input {
  border: solid 1px #b1589b;
  font-size: 15px;
  background: #5f5277;
  border-radius: 10px;
  width: 65%;
  height: 50px;
  text-align: center;
}  */

.transparent-input {
  padding: 3%;
  background: transparent !important;
  border: none !important;
  width: 100% !important;
  height: 100%;
}

input::placeholder {
  text-align: left;
}

#passwordContainer {
  display: flex;
  border: solid 1px #b1589b;
  font-size: 15px;
  background: #5f5277;
  border-radius: 10px;
  width: 85%;
  height: 50px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

#emailContainer {
  display: flex;
  border: solid 1px #b1589b;
  font-size: 15px;
  background: #5f5277;
  border-radius: 10px;
  width: 85%;
  height: 50px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

input[type='checkbox'] {
  width: 15px;
  height: 15px;
  border: none;
  margin-right: 10px;
  position: absolute;
  align-self: flex-end;
  appearance: none;
}

::placeholder {
  color: white;
}

.mainContainer button {
  background: #656fcb;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
}

.mainContainer button:hover {
  background-color: #6980c7;
} 

.registerContainer {
  background: #411946;
  border-radius: 5px;
  border: 1px solid #a85495;
  box-shadow: 0px 0px 5px 1px rgb(168 84 149 / 45%);
  padding: 5px;
  width: 70%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerContainer p {
  background: #411946;
  font-size: 15px;
  opacity: 50%;
}

form i {
  margin-left: -30px;
  cursor: pointer;
}

#linkRegister {
  color: white;
  opacity: 100%;
}

a {
  text-decoration: none;
  padding-bottom: 15px;
}

/* Dialog Pop Up */
dialog {
  width: 60%;
  height: fit-content;
  margin: auto;
  border-radius: 10px;
  background: #251a3a;
  border: 1px solid #a85495;
  box-shadow: 0px 0px 5px 1px rgb(168 84 149 / 45%);
  padding: 5px;
}

::backdrop, /* for native <dialog> */
dialog + .backdrop {
  /* for dialog-polyfill */
  /* a transparent shade of gray */
  background-color: rgba(0, 0, 0, 0.3);
}
#mainDivDialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}
#mainDivDialog p {
  margin: 10px;
}
#botonClosePopUp {
  width: 10%;
  align-self: flex-end;
  background-color: transparent;
  border: none;
}
#titulo {
  margin: 0px;
}

button#botoncito {
  margin: 10px 0px 30px;
}

/* Show and Hide Password*/
.ojitocerrado {
  background-image: url(./assets/ojitosabiertos-blanco.png) !important;
  display: inline-block;
  background-size: contain !important;
}

.ojitoabierto {
  background-image: url(./assets/ojitoscerrados-blanco.png) !important;
  display: inline-block;
  background-size: contain !important;
}

/* POSTS */

#navbarContainer {
  position: sticky;
  top: 0;
  margin-bottom: 30px;
  width: 100%;
  height: 70px;
  background-color: #411946;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#buttonLogOut {
  margin-right: 20px;
  height: 40px;
  background-color: #b1589b;
  border: 0;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logogg {
  height: inherit;
  padding: 10px;
  margin-left: 20px;
}

.postsContainer {
  width: 95%;
  margin: auto;
  height: 100%;
  background-color: #251a3b;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  align-items: center;
}

.userDataContainer {
  height: 900px;
  width: 25%;
  margin-left: 0px;
  display: none;
  flex-direction: column;
  gap: 30px;
}

#dataUser {
  text-align: center;
  width: 100%;
  margin-left: auto;
}

#userDataDiv {
  height: 300px;
  width: 100%;
  margin-left: 0px;
}

#trendingDataDiv {
  height: 600px;
  width: 100%;
  margin-left: 0px;
}

.divPosts {
  height: 900px;
  width: 90%;
  margin-left: 0px;
  background-color: #411946;
  border: solid 1px #b1589b;
  box-shadow: 0px 0px 5px 1px rgb(168 84 149 / 45%);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* .insidePost {
  background-color: #411946;
  border: solid 1px #b1589b;
  box-shadow: 0px 0px 5px 1px rgb(168 84 149 / 45%);
  padding: 20px;
  border-radius: 10px;
} */

.inputMainContainer {
  justify-content: space-evenly;
  width: auto;
  padding: 15px;
  display: flex;

}

.flex {
  display: flex;
}

.postsContainer button {
  background: #656fcb;
  border: 0;
  border-radius: 10px;
  width: auto;
  padding: 10px;
  margin: 15px;
  align-self: flex-end;
}

.postsInput {
  display: flex;
  border: solid 1px #b1589b;
  font-size: 15px;
  background: #5f5277;
  border-radius: 10px;
  width: 100%;
  height: 100px;
}

.postsContainer button:hover {
  background-color: #6980c7;
}

.profilePicturePost {
  display: none;
  margin: 0px 15px 0px 0px;
}

/* RESPONSIVE PANTALLAS GRANDES */
@media only screen and (min-width: 990px) {
  body {
    background-image: url(https://giffiles.alphacoders.com/214/214388.gif);
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: opacity(20%);
  }

  #mainRoute {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  /* Pantalla de Login y Register */
  .mainContainer {
    background: #251a3b;
    border: 2px solid #b1589b;
    box-shadow: 0px 0px 8px 1px #b1589b;
    border-radius: 8px;
    height: 85%;
    width: 35%;
    align-self: flex-end;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    padding: 35px;
    gap:30px;
  }
  .registerContainer {
    height: 100px;
  }

  /* Todo lo de Posts */
  #navbarContainer {
    position: sticky;
    top: 0;
    margin-bottom: 30px;
    width: 100%;
    height: 70px;
    background-color: #411946;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #buttonLogOut {
    margin-right: 20px;
    height: 40px;
    background-color: #b1589b;
  }

  .logogg {
    height: inherit;
    padding: 10px;
    margin-left: 20px;
  }

  .tittlepost{
    font-family: 'Do Hyeon', sans-serif;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .postsContainer {
    width: 95%;
    margin: auto;
    height: 100%;
    background-color: #251a3b;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
  }

  .userDataContainer {
    height: 900px;
    width: 25%;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  #userDataDiv {
    height: 300px;
    width: 100%;
    margin-left: 0px;
  }

  #trendingDataDiv {
    height: 600px;
    width: 100%;
    margin-left: 0px;
  }

  .divPosts {
    height: 900px;
    width: 70%;
    margin-left: 0px;
    text-align: center;
  }

  /* Habian dos clases para el mismo div */
  .insidePost {
    background-color: #411946;
    border: solid 1px #b1589b;
    box-shadow: 0px 0px 5px 1px rgb(168 84 149 / 45%);
    padding: 20px;
    border-radius: 10px;
  }

  .postsContainer button:hover {
    background-color: #6980c7;
  }

  .profilePicturePost {
    display: block;
    border: solid 1px #b1589b;
    background: #5f5277;
    border-radius: 50%;
    background-size: auto;
    background-attachment: fixed;
  }

.postsInput{
  width: 85%;
}

  /* .footer {
   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    bottom: 0;
    padding: 10px;
    background-color: #251a3b;
    position: fixed;
  } */
}

/*FOOTER*/  
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: #251a3b;
  opacity: 90%;
}


/* TRENDS */

.juegofav{
  font-family: 'Do Hyeon', sans-serif;
  font-size: small;
}

.fav{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 25px;
  font-family: 'Do Hyeon', sans-serif;
}

.buttontrend{
  display: flex;
  flex-direction: column;
  font-size: large;
  border: 0;
  border-radius: 15px;
  width: 10%;
  height: 10%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.trendingDataDiv{
  background-size: contain;
}

.allPosts{
  width: 100%;
  height: auto;
  border: 0; 
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; 
  background: red; 
  background-size: contain;
  padding: 20px; 
}
.allPosts div {
  background-color: white;
  color:  black;
}